<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Sale</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function addSaleFields() {
            var container = document.getElementById("saleFieldsContainer");
            var saleFields = `
                <div class="sale-fields">
                    <input list="product_names" name="product_name[]" placeholder="Product Name" required>
                    <datalist id="product_names">
                        {% for product in products %}
                        <option value="{{ product[1] }}">
                        {% endfor %}
                    </datalist>
                    <input type="number" name="quantity_sold[]" placeholder="Quantity Sold" required>
                    <input type="number" name="selling_price[]" placeholder="Selling Price" required>
                </div>`;
            container.insertAdjacentHTML('beforeend', saleFields);
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="{{ url_for('add_product_page') }}">Add Product</a></li>
                <li><a href="{{ url_for('record_sale_page') }}">Record Sale</a></li>
                <li><a href="{{ url_for('products_page') }}">Products</a></li>
                <li><a href="{{ url_for('sales_records_page') }}">Sales Records</a></li>
                <li><a href="{{ url_for('suppliers_page') }}">Suppliers</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Record Sale</h1>
            <div class="section">
                <form method="POST" action="/record_sale">
                    <div id="saleFieldsContainer">
                        <div class="sale-fields">
                            <input list="product_names" name="product_name[]" placeholder="Product Name" required>
                            <datalist id="product_names">
                                {% for product in products %}
                                <option value="{{ product[1] }}">
                                {% endfor %}
                            </datalist>
                            <input type="number" name="quantity_sold[]" placeholder="Quantity Sold" required>
                            <input type="number" name="selling_price[]" placeholder="Selling Price" required>
                        </div>
                    </div>
                    <button type="button" onclick="addSaleFields()">Add Another Sale</button>
                    <button type="submit">Record Sales</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>